
@import "../../vars.css";

.container {
color: var(--text-color);
margin-top: 79px;
margin-left: 10% ;
margin-right: 10% ;
}

.title {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillImageContainer img {
    width: 75px;
    
}

.skill p {
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font-roboto);
    
}

.history {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #58585a;
    background: linear-gradient(90deg, #58585a 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;

}

.historyItem img {
    min-width: 25px;
   max-width: 250px;
   height: auto;

}

.historyItemDetails {
    font-family: var(--font-roboto);

}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
}

.organizationLink {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.organizationLink:hover {
    font-size: 30px;
    font-weight: 500;
    color:#0056b3;
    text-decoration: underline;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-type: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}


@media screen and (max-width: 830px){
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;

    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;

    }

    .history {
        width: 100%;
        gap: 9px;
        
    }

    .historyItem img {
        display: none;
     }
}