/* folder contains components that can be used in several places without much changes. */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --primary-color: #576cbc;
    --secondary-color: #19376d;
    --background-color: #ecf0f1;
    --text-color: #fff;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --font-family: 'Baskeville SC';
    --color-text-hover: #64b5f6;
    


    --font-roboto: 'Roboto';
}